.main-cont .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-cont .content .left {
    width: 10%;
}

.main-cont .content .right {
    width: 10%;
}
.main-cont .content .center{
width: 80%;
};
