:root {
    --color-background: #0A192F;
    --color-supermark: #53D3B9;
    --color-mark-link: #07221c;
    --color-mark: #CCD6F6;
    --color-submark: #133040;
    --color-primary: #8892B0;
    --color-secondary: #818BA9;
}